@using Locadora.Dominio.ModuloClientes
@model LocadoraWebApp.Models.FormularioClientesViewModel

@{
    ViewBag.Title = "Editar Cliente";
}

<div class="col">
    <div class="row gap-3 my-3 my-xl-5">
        <form class="col-lg-6 d-grid gap-3 fs-5" asp-action="Editar">
            <div>
                <label class="control-label fw-semibold mb-1">Nome</label>
                <input class="form-control mb-1" asp-for="Nome"/>
                <span class="text-danger fs-6" asp-validation-for="Nome"></span>
            </div>

            <div>
                <label class="control-label fw-semibold mb-1">Email</label>
                <input class="form-control mb-1" asp-for="Email" type="email"/>
                <span class="text-danger fs-6" asp-validation-for="Email"></span>
            </div>

            <div>
                <label class="control-label fw-semibold mb-1">Telefone</label>
                <input class="form-control mb-1" asp-for="Telefone"/>
                <span class="text-danger fs-6" asp-validation-for="Telefone"></span>
            </div>

            <div>
                <label class="control-label fw-semibold mb-1">Tipo de Cadastro</label>
                <select id="inputTipoCadastro" class="form-control mb-1" asp-for="TipoCadastro" asp-items="Html.GetEnumSelectList<TipoCadastroClienteEnum>()"></select>
                <span class="text-danger fs-6" asp-validation-for="TipoCadastro"></span>
            </div>

            <div>
                <label id="lblNumeroDocumento" class="control-label fw-semibold mb-1">Número do Documento</label>
                <input id="inputNumeroDocumento" class="form-control mb-1" asp-for="NumeroDocumento"/>
                <span class="text-danger fs-6" asp-validation-for="NumeroDocumento"></span>
            </div>

            <div>
                <label class="control-label fw-semibold mb-1">Cidade</label>
                <input class="form-control mb-1" asp-for="Cidade"/>
                <span class="text-danger fs-6" asp-validation-for="Cidade"></span>
            </div>

            <div>
                <label class="control-label fw-semibold mb-1">Estado</label>
                <input class="form-control mb-1" asp-for="Estado"/>
                <span class="text-danger fs-6" asp-validation-for="Estado"></span>
            </div>

            <div>
                <label class="control-label fw-semibold mb-1">Bairro</label>
                <input class="form-control mb-1" asp-for="Bairro"/>
                <span class="text-danger fs-6" asp-validation-for="Bairro"></span>
            </div>

            <div>
                <label class="control-label fw-semibold mb-1">Rua</label>
                <input class="form-control mb-1" asp-for="Rua"/>
                <span class="text-danger fs-6" asp-validation-for="Rua"></span>
            </div>

            <div>
                <label class="control-label fw-semibold mb-1">Cep</label>
                <input class="form-control mb-1" asp-for="Cep"/>
                <span class="text-danger fs-6" asp-validation-for="Cep"></span>
            </div>

            <div class="d-grid gap-2 d-md-block mt-4">
                <button class="btn btn-primary px-5">
                    <i class="bi bi-floppy-fill me-1"></i>
                    Gravar
                </button>

                <a class="btn btn-outline-primary px-5" asp-action="Listar">
                    <i class="bi bi-arrow-return-left me-1"></i>
                    Voltar
                </a>
            </div>
        </form>
    </div>
</div>